nifi200-Hive_Read_and_Write.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>9ca1a677-017f-1000-0000-000038c6d392</groupId>
    <name>nifi200-Hive Read and Write</name>
    <snippet>
        <connections>
            <id>0184d69c-f06a-3450-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3970b3a6-beaf-3f92-0000-000000000000</groupId>
                <id>8e7579fb-b592-330f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>unsupported content</selectedRelationships>
            <source>
                <groupId>3970b3a6-beaf-3f92-0000-000000000000</groupId>
                <id>909a2fdc-3c01-35d5-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2b154061-327f-3957-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3970b3a6-beaf-3f92-0000-000000000000</groupId>
                <id>a69afb15-df6c-3a42-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>original</selectedRelationships>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>3970b3a6-beaf-3f92-0000-000000000000</groupId>
                <id>909a2fdc-3c01-35d5-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7368cb92-4695-32e7-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3970b3a6-beaf-3f92-0000-000000000000</groupId>
                <id>fe105b3a-eeec-350b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>3970b3a6-beaf-3f92-0000-000000000000</groupId>
                <id>81155928-274d-3577-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>779af1c2-1e80-3148-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3970b3a6-beaf-3f92-0000-000000000000</groupId>
                <id>483eec2b-945e-31b6-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>3970b3a6-beaf-3f92-0000-000000000000</groupId>
                <id>a69afb15-df6c-3a42-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7cbc8acd-00b3-350e-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3970b3a6-beaf-3f92-0000-000000000000</groupId>
                <id>909a2fdc-3c01-35d5-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>3970b3a6-beaf-3f92-0000-000000000000</groupId>
                <id>b1d67a30-2a54-34d7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7ce2ea37-bb34-31e8-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3970b3a6-beaf-3f92-0000-000000000000</groupId>
                <id>d9defa1f-6f5d-3b27-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>3970b3a6-beaf-3f92-0000-000000000000</groupId>
                <id>7f85a4d2-19cc-3386-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>be8471b3-c80d-3055-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3970b3a6-beaf-3f92-0000-000000000000</groupId>
                <id>8571b9a0-7859-3c4b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>retry</selectedRelationships>
            <source>
                <groupId>3970b3a6-beaf-3f92-0000-000000000000</groupId>
                <id>483eec2b-945e-31b6-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c56e0312-0694-303f-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3970b3a6-beaf-3f92-0000-000000000000</groupId>
                <id>8571b9a0-7859-3c4b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>incompatible</selectedRelationships>
            <source>
                <groupId>3970b3a6-beaf-3f92-0000-000000000000</groupId>
                <id>a69afb15-df6c-3a42-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e5fb5dcd-6fce-36bf-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3970b3a6-beaf-3f92-0000-000000000000</groupId>
                <id>9854bf73-5378-378f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>3970b3a6-beaf-3f92-0000-000000000000</groupId>
                <id>7f85a4d2-19cc-3386-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f6c7df20-a4cd-3579-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3970b3a6-beaf-3f92-0000-000000000000</groupId>
                <id>b1d67a30-2a54-34d7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>3970b3a6-beaf-3f92-0000-000000000000</groupId>
                <id>fe105b3a-eeec-350b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>5cb78ddb-ec90-3ca5-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-hive3-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1.3.5.2.0-99</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>hive-db-connect-url</key>
                    <value>
                        <name>hive-db-connect-url</name>
                    </value>
                </entry>
                <entry>
                    <key>hive-config-resources</key>
                    <value>
                        <name>hive-config-resources</name>
                    </value>
                </entry>
                <entry>
                    <key>hive-db-user</key>
                    <value>
                        <name>hive-db-user</name>
                    </value>
                </entry>
                <entry>
                    <key>hive-db-password</key>
                    <value>
                        <name>hive-db-password</name>
                    </value>
                </entry>
                <entry>
                    <key>hive-max-wait-time</key>
                    <value>
                        <name>hive-max-wait-time</name>
                    </value>
                </entry>
                <entry>
                    <key>hive-max-total-connections</key>
                    <value>
                        <name>hive-max-total-connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>Kerberos Principal</key>
                    <value>
                        <name>Kerberos Principal</name>
                    </value>
                </entry>
                <entry>
                    <key>Kerberos Keytab</key>
                    <value>
                        <name>Kerberos Keytab</name>
                    </value>
                </entry>
                <entry>
                    <key>Kerberos Password</key>
                    <value>
                        <name>Kerberos Password</name>
                    </value>
                </entry>
            </descriptors>
            <name>Hive3ConnectionPool</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>hive-db-connect-url</key>
                    <value>jdbc:hive2://c2364-node3.coelab.cloudera.com:10000/default</value>
                </entry>
                <entry>
                    <key>hive-config-resources</key>
                    <value>/home/nifi/hive/configs/hive-site.xml</value>
                </entry>
                <entry>
                    <key>hive-db-user</key>
                    <value>nifi</value>
                </entry>
                <entry>
                    <key>hive-db-password</key>
                </entry>
                <entry>
                    <key>hive-max-wait-time</key>
                </entry>
                <entry>
                    <key>hive-max-total-connections</key>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>Kerberos Principal</key>
                </entry>
                <entry>
                    <key>Kerberos Keytab</key>
                </entry>
                <entry>
                    <key>Kerberos Password</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.hive.Hive3ConnectionPool</type>
        </controllerServices>
        <controllerServices>
            <id>74d53535-5990-3b4c-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1.3.5.2.0-99</version>
            </bundle>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                </entry>
                <entry>
                    <key>cache-size</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.avro.AvroReader</type>
        </controllerServices>
        <processors>
            <id>483eec2b-945e-31b6-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <position>
                <x>304.0</x>
                <y>168.0</y>
            </position>
            <bundle>
                <artifact>nifi-hive3-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1.3.5.2.0-99</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive3-stream-metastore-uri</key>
                        <value>
                            <name>hive3-stream-metastore-uri</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive3-config-resources</key>
                        <value>
                            <name>hive3-config-resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive3-stream-database-name</key>
                        <value>
                            <name>hive3-stream-database-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive3-stream-table-name</key>
                        <value>
                            <name>hive3-stream-table-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive3-stream-part-vals</key>
                        <value>
                            <name>hive3-stream-part-vals</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive3-stream-records-per-transaction</key>
                        <value>
                            <name>hive3-stream-records-per-transaction</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive3-stream-transactions-per-batch</key>
                        <value>
                            <name>hive3-stream-transactions-per-batch</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive3-stream-call-timeout</key>
                        <value>
                            <name>hive3-stream-call-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive3-stream-disable-optimizations</key>
                        <value>
                            <name>hive3-stream-disable-optimizations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-principal</key>
                        <value>
                            <name>kerberos-principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-password</key>
                        <value>
                            <name>kerberos-password</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>74d53535-5990-3b4c-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>hive3-stream-metastore-uri</key>
                        <value>thrift://c2364-node4.coelab.cloudera.com:9083</value>
                    </entry>
                    <entry>
                        <key>hive3-config-resources</key>
                        <value>/home/nifi/hive/configs/hive-site.xml</value>
                    </entry>
                    <entry>
                        <key>hive3-stream-database-name</key>
                        <value>default</value>
                    </entry>
                    <entry>
                        <key>hive3-stream-table-name</key>
                        <value>nifi_ingest</value>
                    </entry>
                    <entry>
                        <key>hive3-stream-part-vals</key>
                    </entry>
                    <entry>
                        <key>hive3-stream-records-per-transaction</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>hive3-stream-transactions-per-batch</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>hive3-stream-call-timeout</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>hive3-stream-disable-optimizations</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>kerberos-principal</key>
                    </entry>
                    <entry>
                        <key>kerberos-password</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutHive3Streaming</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>retry</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.hive.PutHive3Streaming</type>
        </processors>
        <processors>
            <id>7f85a4d2-19cc-3386-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <position>
                <x>153.1143753077805</x>
                <y>502.3188300538982</y>
            </position>
            <bundle>
                <artifact>nifi-hive3-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1.3.5.2.0-99</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>hive3-dbcp-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.hive.Hive3DBCPService</identifiesControllerService>
                            <name>hive3-dbcp-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-pre-query</key>
                        <value>
                            <name>hive-pre-query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-query</key>
                        <value>
                            <name>hive-query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-post-query</key>
                        <value>
                            <name>hive-post-query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-fetch-size</key>
                        <value>
                            <name>hive-fetch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive3-query-timeout</key>
                        <value>
                            <name>hive3-query-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-max-rows</key>
                        <value>
                            <name>hive-max-rows</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-max-frags</key>
                        <value>
                            <name>hive-max-frags</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-output-format</key>
                        <value>
                            <name>hive-output-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-normalize-avro</key>
                        <value>
                            <name>hive-normalize-avro</name>
                        </value>
                    </entry>
                    <entry>
                        <key>csv-header</key>
                        <value>
                            <name>csv-header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>csv-alt-header</key>
                        <value>
                            <name>csv-alt-header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>csv-delimiter</key>
                        <value>
                            <name>csv-delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>csv-quote</key>
                        <value>
                            <name>csv-quote</name>
                        </value>
                    </entry>
                    <entry>
                        <key>csv-escape</key>
                        <value>
                            <name>csv-escape</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive3-charset</key>
                        <value>
                            <name>hive3-charset</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>hive3-dbcp-service</key>
                        <value>5cb78ddb-ec90-3ca5-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>hive-pre-query</key>
                    </entry>
                    <entry>
                        <key>hive-query</key>
                        <value>select * from nifi_ingest</value>
                    </entry>
                    <entry>
                        <key>hive-post-query</key>
                    </entry>
                    <entry>
                        <key>hive-fetch-size</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>hive3-query-timeout</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>hive-max-rows</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>hive-max-frags</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>hive-output-format</key>
                        <value>CSV</value>
                    </entry>
                    <entry>
                        <key>hive-normalize-avro</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>csv-header</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>csv-alt-header</key>
                    </entry>
                    <entry>
                        <key>csv-delimiter</key>
                        <value>,</value>
                    </entry>
                    <entry>
                        <key>csv-quote</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>csv-escape</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>hive3-charset</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>SelectHive3QL</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.hive.SelectHive3QL</type>
        </processors>
        <processors>
            <id>81155928-274d-3577-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1.3.5.2.0-99</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File Size</key>
                        <value>
                            <name>File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>
                            <name>Data Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>
                            <name>Unique FlowFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>
                            <name>generate-ff-custom-text</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                        <value>
                            <name>mime-type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File Size</key>
                        <value>0B</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>Text</value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>No,NAme,ID,Description
1,Stack,232,"ABCDEFGHIJKLMNO
 -- Jiuaslkm asdasdasd"
2,Queue,454,"PQRSTUVWXYZ
 -- Other words here"</value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>10 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GenerateFlowFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
            <id>8571b9a0-7859-3c4b-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <position>
                <x>744.0</x>
                <y>304.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1.3.5.2.0-99</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>
                            <name>Log Payload</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>
                            <name>Attributes to Log</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>
                            <name>attributes-to-log-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                        <value>
                            <name>Attributes to Ignore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                        <value>
                            <name>attributes-to-ignore-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>
                            <name>Log prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogAttribute</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
            <id>8e7579fb-b592-330f-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <position>
                <x>1208.0</x>
                <y>184.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1.3.5.2.0-99</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>
                            <name>Log Payload</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>
                            <name>Attributes to Log</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>
                            <name>attributes-to-log-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                        <value>
                            <name>Attributes to Ignore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                        <value>
                            <name>attributes-to-ignore-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>
                            <name>Log prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>error</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogAttribute</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
            <id>909a2fdc-3c01-35d5-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <position>
                <x>1112.0</x>
                <y>16.0</y>
            </position>
            <bundle>
                <artifact>nifi-kite-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1.3.5.2.0-99</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Schema Output Destination</key>
                        <value>
                            <name>Schema Output Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Input Content Type</key>
                        <value>
                            <name>Input Content Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV Header Definition</key>
                        <value>
                            <name>CSV Header Definition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Get CSV Header Definition From Data</key>
                        <value>
                            <name>Get CSV Header Definition From Data</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV Header Line Skip Count</key>
                        <value>
                            <name>CSV Header Line Skip Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV delimiter</key>
                        <value>
                            <name>CSV delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV Escape String</key>
                        <value>
                            <name>CSV Escape String</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV Quote String</key>
                        <value>
                            <name>CSV Quote String</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Pretty Avro Output</key>
                        <value>
                            <name>Pretty Avro Output</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Avro Record Name</key>
                        <value>
                            <name>Avro Record Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Number Of Records To Analyze</key>
                        <value>
                            <name>Number Of Records To Analyze</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Charset</key>
                        <value>
                            <name>Charset</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Schema Output Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Input Content Type</key>
                        <value>csv</value>
                    </entry>
                    <entry>
                        <key>CSV Header Definition</key>
                        <value>No,NAme,ID,Description</value>
                    </entry>
                    <entry>
                        <key>Get CSV Header Definition From Data</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>CSV Header Line Skip Count</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>CSV delimiter</key>
                        <value>,</value>
                    </entry>
                    <entry>
                        <key>CSV Escape String</key>
                        <value>\</value>
                    </entry>
                    <entry>
                        <key>CSV Quote String</key>
                        <value>'</value>
                    </entry>
                    <entry>
                        <key>Pretty Avro Output</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Avro Record Name</key>
                        <value>nifi_ingest</value>
                    </entry>
                    <entry>
                        <key>Number Of Records To Analyze</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>Charset</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>InferAvroSchema</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unsupported content</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.kite.InferAvroSchema</type>
        </processors>
        <processors>
            <id>9854bf73-5378-378f-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <position>
                <x>608.0</x>
                <y>504.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1.3.5.2.0-99</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>
                            <name>Log Payload</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>
                            <name>Attributes to Log</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>
                            <name>attributes-to-log-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                        <value>
                            <name>Attributes to Ignore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                        <value>
                            <name>attributes-to-ignore-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>
                            <name>Log prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogAttribute</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
            <id>a69afb15-df6c-3a42-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <position>
                <x>744.0</x>
                <y>152.0</y>
            </position>
            <bundle>
                <artifact>nifi-kite-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1.3.5.2.0-99</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Hadoop configuration files</key>
                        <value>
                            <name>Hadoop configuration files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Record schema</key>
                        <value>
                            <name>Record schema</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV charset</key>
                        <value>
                            <name>CSV charset</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV delimiter</key>
                        <value>
                            <name>CSV delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV quote character</key>
                        <value>
                            <name>CSV quote character</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV escape character</key>
                        <value>
                            <name>CSV escape character</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use CSV header line</key>
                        <value>
                            <name>Use CSV header line</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Lines to skip</key>
                        <value>
                            <name>Lines to skip</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kite-compression-type</key>
                        <value>
                            <name>kite-compression-type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Hadoop configuration files</key>
                    </entry>
                    <entry>
                        <key>Record schema</key>
                        <value>${inferred.avro.schema}</value>
                    </entry>
                    <entry>
                        <key>CSV charset</key>
                        <value>utf8</value>
                    </entry>
                    <entry>
                        <key>CSV delimiter</key>
                        <value>,</value>
                    </entry>
                    <entry>
                        <key>CSV quote character</key>
                        <value>"</value>
                    </entry>
                    <entry>
                        <key>CSV escape character</key>
                        <value>\</value>
                    </entry>
                    <entry>
                        <key>Use CSV header line</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Lines to skip</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>kite-compression-type</key>
                        <value>SNAPPY</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConvertCSVToAvro</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>incompatible</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.kite.ConvertCSVToAvro</type>
        </processors>
        <processors>
            <id>b1d67a30-2a54-34d7-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <position>
                <x>736.0</x>
                <y>8.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1.3.5.2.0-99</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>attribute-list</key>
                        <value>
                            <name>attribute-list</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-regex</key>
                        <value>
                            <name>attributes-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>destination</key>
                        <value>
                            <name>destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>include-core-attributes</key>
                        <value>
                            <name>include-core-attributes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>null-value</key>
                        <value>
                            <name>null-value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>include-schema</key>
                        <value>
                            <name>include-schema</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>attribute-list</key>
                    </entry>
                    <entry>
                        <key>attributes-regex</key>
                    </entry>
                    <entry>
                        <key>destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>include-core-attributes</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>null-value</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>include-schema</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>AttributesToCSV</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.AttributesToCSV</type>
        </processors>
        <processors>
            <id>d9defa1f-6f5d-3b27-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <position>
                <x>632.0</x>
                <y>664.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1.3.5.2.0-99</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>
                            <name>Log Payload</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>
                            <name>Attributes to Log</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>
                            <name>attributes-to-log-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                        <value>
                            <name>Attributes to Ignore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                        <value>
                            <name>attributes-to-ignore-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>
                            <name>Log prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogAttribute</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
            <id>fe105b3a-eeec-350b-0000-000000000000</id>
            <parentGroupId>3970b3a6-beaf-3f92-0000-000000000000</parentGroupId>
            <position>
                <x>368.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1.3.5.2.0-99</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Regular Expression</key>
                        <value>
                            <name>Regular Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>
                            <name>Replacement Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>
                            <name>Replacement Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>
                            <name>Evaluation Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>
                            <name>Line-by-Line Evaluation Mode</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Regular Expression</key>
                        <value>"(.*?)(\n)(.*?)"</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>"$1\\n$3"</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Regex Replace</value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>Entire text</value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>All</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ReplaceText</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
    </snippet>
    <timestamp>03/18/2022 16:13:17 UTC</timestamp>
</template>
